$bg-color: grey;
$txt-color: white;
$alert-color: red;
$card-bgcolor: yellow;
$ok-color: green;
$lightok-color: lightgreen;
$darkbg-color: black;
$border-ln: solid 1px $darkbg-color;

.whiteTxt {
	color: $txt-color;
	display: inline-block;
}

.colorGreen {
	color: $ok-color;
}

.lightGreen {
	color: $lightok-color;
}

.itemSelected {
	color: $lightok-color;	
}

.center-img {
	margin: auto;
}

.kategFull {
	width: 100%;
}

.kategMid {
	width: 80%;	
}

.backRed {
	background-color: $alert-color;
}

.line {
	border-bottom: $border-ln;
	background-color: $bg-color;
	margin: 10px 0px 10px 0;
	padding: 5px 0px 5px 0;
}

.blackLine {
	border-bottom: $border-ln;
	margin-bottom: 2%;
}

.brdcateg {
	border: $border-ln;
}

.space {
	margin: 10px;
}

.spaceTopBottom {
	margin-top: 2%;
	margin-bottom: 2%;
}

.spaceBigger {
	margin-right: 15%;
	margin-left: 15%;
	margin-top: 1%;
	margin-bottom: 1%;
}

.kategCursor:hover {
	cursor: pointer;
}


small.error {
    display: block;
    font-size: 0.66667rem;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 0.88889rem;
    margin-top: -8px;
    padding: 0.33333rem 0.5rem 0.5rem;
    background: #f04124;
    color: #FFFFFF;
}

.shoppingCount {
	
	display: inline-block;
	position:relative;
	margin: auto;
	color:$alert-color;
	background-color: $card-bgcolor;
	background: $card-bgcolor;
	width: 20px;
	height: 20px;
  	text-align: center;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.greyBackground, body {
	background-color:$bg-color;
}

#hintItems {
	border: 1px solid $bg-color;
	color:$txt-color; 
	margin-top: 15px;
	width:80%;
	/*----*/
	color:$txt-color; 
	font-size: 0.66667rem; 
	line-height: 5px;
}



input.ng-dirty {

	&.ng-invalid {
    	border-color: $alert-color;
	}	
	&.ng-valid {
    	border-color: $lightok-color;
	}		
}

form{
    border: 1px solid $darkbg-color;
    margin-top: 10px;
    padding:2%;

    & > .row > .col {
		margin-bottom: 1%;
	}
}

#productList {
	& div.ng-enter {
		transition: 0.5s linear all;
	  	opacity:0.2;
	}
	& div.ng-enter-stagger {
		transition-delay: 0.1s;
		transition-duration: 0s;
	}

}

.inputWidth {
	width:100%;
	color: $txt-color;
	& > input  {
		width:100%;
	}
}

/* animation */

.view-animation.ng-enter, .view-animation.ng-leave {
  transition:0.3s linear all;
  position:fixed;
  width:50%;
  height: 50%;
}

.view-animation.ng-enter.ng-enter-active {
  width:100%;
  height: 100%;
}
.view-animation.ng-leave.ng-leave-active {
  width:100%;
  height: 100%;
}

.container.ng-anchor, .container-fluid.ng-anchor {
	transition:0.5s linear all;
}

#productList div.ng-enter.ng-enter-active {
	opacity:1;
}

.ng-enter, .ng-move {
	opacity: 0.2;
}

.ng-enter.ng-enter-active, .ng-move.ng-move-active {
	opacity: 1;	
}

.ng-leave {
	opacity: 1;		
}

.ng-leave.ng-leave-active {
	opacity: 0.2;
}

