
.whiteTxt {
	color: white;
	display: inline-block;
}

.colorGreen {
	color: green;
}

.lightGreen {
	color: lightgreen;
}

.itemSelected {
	color: lightgreen;	
}

.kategFull {
	width: 100%;
}

.kategMid {
	width: 80%;	
}


.line {
	border-bottom: solid 1px black;
	background-color: grey;
	margin: 10px 0px 10px 0;
	padding: 5px 0px 5px 0;
}

.blackLine {
	border-bottom: 1px solid black;
	margin-bottom: 2%;
}

.space {
	margin: 10px;
}

.spaceTopBottom {
	margin-top: 2%;
	margin-bottom: 2%;
}

form > .row > .col {
	margin-bottom: 1%;
}

.spaceBigger {
	margin-right: 15%;
	margin-left: 15%;
	margin-top: 1%;
	margin-bottom: 1%;
}

.kategCursor:hover {
	cursor: pointer;
}

input.ng-dirty.ng-invalid {
    border-color: red;
}

input.ng-dirty.ng-valid {
    border-color: lightgreen;
}

small.error {
    display: block;
    font-size: 0.66667rem;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 0.88889rem;
    margin-top: -8px;
    padding: 0.33333rem 0.5rem 0.5rem;
    background: #f04124;
    color: #FFFFFF;
}

.shoppingCount {
	
	display: inline-block;
	position:relative;
	margin: auto;
	color:red;
	background-color: yellow;
	background: yellow;
	width: 20px;
	height: 20px;
  	text-align: center;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.greyBackground, body {
	background-color:grey;
}

.inputWidth {
	width:100%;
	color: white;
}

.inputWidth > input  {
	width:100%;
}

form{
    border: 1px solid black;
    margin-top: 10px;
    padding:2%;
}

#hintItems {
	border: 1px solid grey;
	color:white; 
	margin-top: 15px;
	width:80%;
	/*----*/
	color:white; margin-top: 15px; font-size: 0.66667rem; line-height: 5px;
}

/* animation */


#productList div.ng-enter {
	transition: 0.5s linear all;
  	opacity:0.2;
}

#productList div.ng-enter-stagger {
	transition-delay: 0.1s;
	transition-duration: 0s;
}
/*
.view-animation.ng-enter, .view-animation.ng-leave {
  transition:0.3s linear all;
  position:fixed;
  width:100%;
}
.view-animation.ng-enter {
  transform:translateX(100%);
}
.view-animation.ng-leave,
.view-animation.ng-enter.ng-enter-active {
  transform:translateX(0%);
}
.view-animation.ng-leave.ng-leave-active {
  transform:translateX(-100%);
}
*/
.view-animation.ng-enter, .view-animation.ng-leave {
  transition:0.3s linear all;
  position:fixed;
  width:50%;
  height: 50%;
}

/*.view-animation.ng-enter {
    width:50%;
}
.view-animation.ng-leave,*/
.view-animation.ng-enter.ng-enter-active {
  width:100%;
  height: 100%;
}
.view-animation.ng-leave.ng-leave-active {
  /*transform:translateX(-100%);*/
  width:100%;
  height: 100%;
}



.container.ng-anchor, .container-fluid.ng-anchor {
	transition:0.5s linear all;
}

#productList div.ng-enter.ng-enter-active {
	opacity:1;
}

.ng-enter, .ng-move {
	opacity: 0.2;
}

.ng-enter.ng-enter-active, .ng-move.ng-move-active {
	opacity: 1;	
}

.ng-leave {
	opacity: 1;		
}

.ng-leave.ng-leave-active {
	opacity: 0.2;
}
