<div>
	<h1 class="text-center space">Uzupełnij dane do zamówienia</h1>
</div>
<div class="container">
   <form name="form1" novalidate>
   		<div class="row blackLine">
			<div class="col">
				<label class="inputWidth">
					<p>Suma zakupów: <button type="button" class="btn btn-secondary">{{count || 0 | currency }}</button></p>
				</label>
			</div>
			<div class="col">
				<label class="inputWidth">
					<p>Liczba produktów w koszyku: <button type="button" class="btn btn-secondary">{{cardAmount}} szt.</button></p>
				</label>
				<div ng-hide="cardAmount > 0" class="kategFull error" style="margin-top:-23px;">
                    <small ng-show="cardAmount == 0" class="error">Nie dodałeś niczego do koszyka</small>
                </div>
			</div>		
		</div>
    <div class="row" ng-hide="form1.$valid">
      <div class="col" ng-show="localData">
        <label class="inputWidth">
        <p class="backRed">Część danych została wczytana, sprawdź ich poprawność i usuń dodany znak: <strong>*</strong></p>
        </label>
      </div>
    </div>
    <div class="row">
			<div class="col">
				<label class="inputWidth">Imię
                    <input type="text" name="fnameInput" placeholder="Wpisz imię" ng-model="user.firstname" 
                    ng-value="readLocalStorage('user.firstname')" ng-minlength="1" required>
                </label>
                <div ng-show="form1.fnameInput.$touched" class="kategFull error">
                    <small ng-hide="form1.fnameInput.$valid" class="error">Wprowadź swoje imię</small>
                </div>
			</div>
			<div class="col">
				<label class="inputWidth">Nazwisko
                  <input type="text" placeholder="Wpisz nazwisko" name="lnameInput" ng-model="user.lastname" ng-value="readLocalStorage('user.lastname')" required>
                </label>
                <div ng-show="form1.lnameInput.$touched" class="kategFull">
                    <small ng-hide="form1.lnameInput.$valid" class="error">Wprowadź swoje nazwisko</small>
                </div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<label class="inputWidth">Adres e-mail
                    <input type="email" placeholder="Wpisz adres e-mail" class="input-group-field" name="mailInput" ng-value="readLocalStorage('user.email')" ng-model="user.email" required>
                </label>
                <div ng-show="form1.mailInput.$touched" class="kategFull">
                      <small ng-show="form1.mailInput.$error.required" class="error">Podaj adres e-mail</small>
                      <small ng-show="form1.mailInput.$error.email" class="error">Podaj poprawny adres e-mail</small>
                </div>
			</div>
			<div class="col">
				<label class="inputWidth">Hasło
                  <input type="password" name="password" placeholder="Wpisz hasło" ng-model="user.password" pattern=".{5,}" class="input-group-field" required>
                </label>
                <div ng-show="form1.password.$touched" class="kategFull">
                    <small ng-show="form1.password.$error.required" class="error">Wprowadź hasło</small>
                    <small ng-show="form1.password.$error.pattern" class="error">Wprowadzone hasło jest zbyt krótkie</small>
                </div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<label class="inputWidth">Adres dostawy [kod pocztowy i miasto]
                    <input type="text" placeholder="Wpisz kod pocztowy i miasto" class="input-group-field" name="userCity" ng-model="user.zipandcity"
                    ng-value="readLocalStorage('user.zipandcity')" required>
                </label>
                <div ng-show="form1.userCity.$touched" class="kategFull">
                      <small ng-hide="form1.userCity.$valid" class="error">Wpisz poprawny adres: kod pocztowy oraz miasto</small>
                </div>
			</div>
			<div class="col">
				<label class="inputWidth">Adres dostawy [ulica i numer domu]
                  <input type="text" name="userStreet" placeholder="Wpisz ulicę i numer domu" ng-model="user.street" class="input-group-field"
                  ng-value="readLocalStorage('user.street')" required>
                </label>
                <div ng-show="form1.userStreet.$touched" class="kategFull">
                    <small ng-hide="form1.userStreet.$valid" class="error">Wpisz poprawny adres: ulicę i numer domu</small>
                </div>
			</div>
		</div>
		<div class="row">
			<div class="col inputWidth text-center">
				<button ng-click="saveLocalStorage(user)" type="button" class="btn btn-primary kategCursor kategMid">Wróć do koszyka</button>
			</div>
			<div class="col inputWidth text-center">
            	<button ng-click="sendOrder(user)" type="button" class="btn btn-success kategCursor kategMid" name="button"
 				ng-disabled="!(form1.password.$valid && form1.fnameInput.$valid && form1.lnameInput.$valid && form1.mailInput.$valid && form1.userCity.$valid && form1.userStreet.$valid)">Zatwierdź zamówienie</button>
			</div>
 			</div>
 		</div>
	</form>
</div>
