<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" ng-hide="closeCarousel">
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <img class="d-block img-fluid" src="image/zd1.jpg" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
	    <h1>Sklep sportowy Sport Shop</h1>
	    <p>Promocyjny koszt dostawy 0zł</p>
	  </div>
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid" src="image/zd2.jpg" alt="Second slide">
      <div class="carousel-caption d-none d-md-block">
	    <h1>Obuwie w promocji</h1>
	    <p>Zobacz nasze obniżone ceny na obuwie</p>
	  </div>
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid" src="image/zd3.jpg" alt="Third slide">
      <div class="carousel-caption d-none d-md-block">
	    <h1>Szybka wysyłka</h1>
	    <p>Większość zamówień realizowana do godziny 15:00.</p>
	  </div>
    </div>
    <p class="pull-right" ><input type="checkbox" ng-click="stopCarousel()">UKRYJ KARUZELĘ</p>  
  </div>

</div>

	<div>
		<div class="container-fluid">
		  <div class="row greyBackground">
		    <div class="col greyBackground brdcateg">
				<div class="card">
				  <h3 ng-click="clicked('')" class="card-header text-center kategCursor">Kategorie</h3>
				</div>
				 <div class="card-block">
				 	<div ng-repeat="item in data | orderBy: 'category' | single: 'category'">
						<button type="button" ng-click="clicked(item.category)" class="btn btn-secondary kategFull kategCursor" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">
						  {{ item.category }}
						</button> 
						<hr />
					</div>
				 </div>
		    </div>
		    <div class="col-md-5 col-sm-12">
		      <div class="card" id="productList">
		      	<div ng-repeat="item2 in data | filter: categSelected"> 
				  <p ng-if="($first)" class="card-header">{{ categHeader }}</p>
				  <div class="card-block">
				    <h4 class="card-title kategCursor" ng-click="showItem(item2)">{{ item2.name }}</h4>

				    <p class="card-text">{{ item2.description }}</p>

					<button ng-click="AddToCard(item2)" ng-disabled="item2.price==0" type="button" class="btn btn-success kategCursor">Dodaj do koszyka</button><button type="button" 
					class="btn btn-secondary">{{ item2.price | currency }}</button>
					
					<i ng-hide="item2.favorite" class="colorGreen kategCursor space fa fa-heart-o" ng-click="changeFavorite(item2, 'add')" ng-class="{itemSelected: hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false" aria-hidden="true"></i>

					<i ng-show="item2.favorite" class="colorGreen kategCursor space fa fa-heart" ng-click="changeFavorite(item2, 'add')" ng-class="{itemSelected: hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false" aria-hidden="true"></i>

				  </div>
				  <p class="line"></p>
				</div>
				</div>
		    </div>
			<div class="col greyBackground brdcateg">
				<ul class="list-group">
				  <li class="list-group-item" style="background-color: #f7f7f9; color: black;">Bestsellery:</li>
				  <li class="list-group-item" ng-repeat="item2 in data | filter: categSelected | limitTo: 5 : 5">{{ item2.name }}</li>
				</ul>
			</div>
		  </div>
		</div>
	</div>