	<div>
		<div class="container-fluid">
		  <div class="row greyBackground">
		    <div class="col greyBackground" style="border: 1px black solid;">
				<div class="card">
				  <h3 ng-click="clicked('')" class="card-header text-center kategCursor">Kategorie</h3>
				</div>
				 <div class="card-block">
				 	<div ng-repeat="item in data | orderBy: 'category' | single: 'category'">
						<button type="button" ng-click="clicked(item.category)" class="btn btn-secondary kategFull kategCursor" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">
						  {{ item.category }}
						</button> 
						<hr />
					</div>
				 </div>
		    </div>
		    <div class="col-md-5 col-sm-12">
		      <div class="card" id="productList">
		      	<div ng-repeat="item2 in data | filter: categSelected"> 
				  <p ng-if="($first)" class="card-header">{{ categHeader }}</p>
				  <div class="card-block">
				    <h4 class="card-title kategCursor" ng-click="showItem(item2)">{{ item2.name }}</h4>

				    <p class="card-text">{{ item2.description }}</p>

					<button ng-click="AddToCard(item2)" type="button" class="btn btn-success kategCursor">Dodaj do koszyka</button><button type="button" 
					class="btn btn-secondary">{{ item2.price | currency }}</button>
					<!--
					<div class="fa space fa-heart" ng-class="{fa-heart-o: mouseon}" ng-mouseleave="" ng-init="mouseon = false"
					ng-mouseenter="mouseon = true" ng-click="changeFavorite()" aria-hidden="true"></div>-->
					
					<i ng-hide="item2.favorite" class="colorGreen space fa fa-heart-o" ng-click="changeFavorite(item2, 'add')" ng-class="{itemSelected: hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false" aria-hidden="true"></i>

					<i ng-show="item2.favorite" class="colorGreen space fa fa-heart" ng-click="changeFavorite(item2, 'add')" ng-class="{itemSelected: hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false" aria-hidden="true"></i>

					<!--
					<i class="fa fa-heart space" ng-mouseleave="changeFavorite()" 
					ng-mouseenter="changeFavorite()" ng-click="changeFavorite()" aria-hidden="true"></i>-->
				  </div>
				  <p class="line"></p>
				</div>
				</div>
		    </div>
			<div class="col"></div>
		  </div>
		</div>
	</div>