<div>
	<div class="container-fluid">
		 <div class="row greyBackground">
		    <div class="col greyBackground">
		    </div>
		    <div class="col-md-7 col-sm-12">
		      <div class="card">
		      	<div class="space">
			      	<h3 class="spaceTopBottom">Dziękujemy za złożenie zamówienia</h3>
		      	</div>
		      	<p class="line"></p>
		      	<div> 
		      	<!--
				  <p ng-if="($first)" class="card-header">{{ categHeader }}</p>
				  -->
				  <div class="row">
				  	<div class="col">
					  <div class="card-block">
					    <h4 class="card-title kategCursor" ng-click="showItem(item2)">Zamówienie wpłynęło do sklepu.</h4>
					    <p class="card-text">Proszę czekać na maila potwierdzającego realizację zamówienia. Na bieżąco będą Państwo informowani o statusie złożonego zamówienia.</p>
					  </div>
					</div>
				  </div>
				  <p class="line"></p>
				</div>
				<div class="row">
				  	<div class="col-12">
						<button ng-click="back()" type="button" class="btn btn-primary kategCursor spaceBigger">Powrót do sklepu</button>
					</div>
				</div>
				<!--
				<a ng-href="#/" type="button" class="btn btn-primary kategCursor">Powrót do sklepu</a>
				-->
				</div>
		    </div>
			<div class="col"></div>
		 </div>
	</div>
</div>