<nav class="navbar navbar-inverse bg-inverse">
<!-- Navbar content -->
	<div class="row">
      <div class="col-md-5 col-sm-12">
  		<span ng-click="back()" class="whiteTxt center-block kategCursor"><h3>Sport Shop - Angular1.6</h3></span>
	  </div>
   	  <div class="col">
	    <div class="input-group">
	      <input type="text" ng-model="search" ng-keyup="clicked('~'+search)" class="form-control" placeholder="Szukaj w sklepie">
	      <span class="input-group-btn">
	        <button class="btn btn-secondary" ng-click="clicked('~'+search)"  type="button">Szukaj</button>
	      </span>
	    </div>
      </div>
<!--
	    <div class="navbar-form navbar-left" role="search">
		  <div class="form-group">
		    	<input type="text" ng-model="search" ng-keyup="clicked('~'+search)" class="form-control" placeholder="Szukaj w sklepie">
		  </div>
		</div>

		</div>
		 <div class="col">
		  	<button type="submit" ng-click="clicked('~'+search)" class="btn btn-default">Szukaj</button>-->
		  
    <div class="col kategCursor" ng-click="showCard()" ng-mouseleave="hintCart('delete')" ng-mouseenter="hintCart('add')" id="hintCart">
  		<span class="whiteTxt" style="margin-right:-15px;"> Mój koszyk <span class="shoppingCount"><strong> {{cardAmount}} </strong></span> </span>
  		<i class="fa fa-shopping-basket fa-2x whiteTxt" aria-hidden="true"></i>
  	</div>
  	<div ng-show="favorite.length" class="whiteTxt kategCursor">
  		<i class="space fa fa-heart whiteTxt lightGreen" ng-click="changeFavorite(null, 'list')" alt="favorite products" aria-hidden="true"></i>
  		</div>
  </div>
</nav>
