
<div class="container" >
	<div class="container" data-ng-controller="ordersCtrl" ng-show="$parent.auth">  
		    <ul class="nav nav-pills">
			  <li class="nav-item">
			    <a class="nav-link kategCursor active" id="profile1" ng-click="changeTab('profile', 'home')">Produkty</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link kategCursor" id="home1"  ng-click="changeTab('home', 'profile')">Zamówienia</a>
			  </li>
			</ul>

			<prod-list></prod-list>

			<div ng-show="choosedItem.length > 0">
				<table class="table table-sm">
					<thead>
					    <tr>
					    	<th>#</th>
					    	<th>Product</th>
					    	<th>Cathegory</th>
					    	<th>Amount</th>
					    	<th>Price</th>
					    </tr>
					</thead>
					<tbody>
						<tr ng-repeat="item2 in choosedItem">
					      <th>{{$index + 1}}</th>
						  <td>{{item2.name}}</td>
						  <td>{{item2.category}}</td>
						  <td>{{item2.amount}}</td>						  
						  <td>{{item2.price}}</td>						  						  
					    </tr>
					</tbody>
				</table>
			</div>

	</div>
	<div class="container" ng-hide="$parent.auth">
		<h1>Unauthorised</h1>
	</div>
</div>